<h1>My profile</h1>

<div id="company-admin">
  <div id="company-admin-details">
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Company Information</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>State</th>
            <th>Profession</th>
            <th>Edit Profile</th>
            <th>Change Password</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ companyAdmin.name }}</td>
            <td>{{ companyAdmin.surname }}</td>
            <td>{{ companyAdmin.username }}</td>
            <td>{{ companyAdmin.companyInformation }}</td>
            <td>{{ companyAdmin.telephoneNumber }}</td>
            <td>{{ companyAdmin.city }}</td>
            <td>{{ companyAdmin.state }}</td>
            <td>{{ companyAdmin.profession }}</td>
            <td>
              <button (click)="onEditClicked(companyAdmin)" 
                      color="primary" 
                      mat-icon-button>
                      Edit
              </button>
            </td>
            <td>
              <button (click)="onEditPasswordClicked(companyAdmin)" 
                      color="primary" 
                      mat-icon-button>
                      Change
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
