<div>
    <h1>Contracts</h1>
    <table class="contract-table">
        <thead>
            <tr>
              <th>Company Name</th>
              <th>Company Address</th>
              <th>Hospital Name</th>
              <th>Hospital Address</th>
              <th>Equipment Name</th>
              <th>Equipment Quantity</th>
              <th>Delivery Date</th>
              <th>Status</th>
              <th>Cancel</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of contracts">
              <td>{{ c.companyName }}</td>
              <td>{{ c.companyAddress }}</td>
              <td>{{ c.hospitalName }}</td>
              <td>{{ c.hospitalAddress }}</td>
              <td>{{ c.equipmentName }}</td>
              <td>{{ c.equipmentQuantity }}</td>
              <td>{{ c.deliveryDate | date : "yyyy-MM-dd"}}</td>
              <td>{{ c.status }}</td>
              <td *ngIf="c.status.toString() == 'NEW'">
                <button (click) = "onCancel(c)">Cancel</button>
              </td>
              <td *ngIf="c.status.toString() == 'CANCELED'">
                Already canceled
              </td>
              <td>
                <button (click)="onEditClicked(c)" color="primary" mat-icon-button>
                  <mat-icon class="faIcon">edit</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
    </table>
</div>
