<div>
    <label for="name">Search by Name:</label>
    <input type="text" id="name" [(ngModel)]="name">
    <button (click)="searchByName()">Search</button>

    <div *ngIf="nameResults && nameResults.length > 0">
        <ul>
            <li *ngFor="let result of nameResults">
                {{ result.name }} - {{ result.city }}
            </li>
        </ul>
    </div>
</div>

<div>
    <label for="city">Search by City:</label>
    <input type="text" id="city" [(ngModel)]="city">
    <button (click)="searchByCity()">Search</button>

    <div *ngIf="cityResults && cityResults.length > 0">
        <ul>
            <li *ngFor="let result of cityResults">
                {{ result.name }} - {{ result.city }}
            </li>
        </ul>
    </div>
</div>
