<form [formGroup]="appointmentForm">
  <div>
    <div>
      <mat-form-field>
        <mat-label >Administrator email</mat-label>
        <input matInput formControlName="administratorEmail" type="text"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput 
               [matDatepicker]="picker" 
               placeholder="Choose a date" 
               formControlName="pickupDate" 
               [min]="minDate"> 
        <mat-datepicker-toggle 
                matSuffix 
                [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>  
    </div>  
    <div>
      <mat-form-field>
        <mat-label >Pick a time</mat-label>
        <input matInput type="time" id="timepicker" name="timepicker" formControlName="pickupTime">
      </mat-form-field>  
    </div>  
    <button *ngIf="!shouldEdit" type="submit" (click)="addAppointment()" mat-raised-button>Done</button>
  </div>
</form>