.dialogue {
  width: 40rem;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

form div{
  width: 30rem;
  height: 25rem;
  display:flex;
  gap: 0.1rem;
  flex-direction: column;
  font: inherit; 
}

#done-button {
  height: 100px;
}

.mat-icon {
  vertical-align: middle;
}

form {
  margin-top: -15px;
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form h2 {
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-choosing{
  background-color:aliceblue;
  margin-bottom: 15px;
}

#choose-admin{
  display: flex;
  justify-content: center;
  align-items: center;
}