<form [formGroup]="companyAdminForm">
  <h3>Changing your password will require you to log in again!</h3>
  <div>
      <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input matInput formControlName="passwordRepeated" type="password" />
      </mat-form-field>
      <button
          *ngIf="shouldEdit"
          type="submit"
          color="primary"
          (click)="updateCompanyAdmin()"
          mat-raised-button
      >
          Done
      </button>
  </div>
</form>