<div class="dialogue">
  <form [formGroup]="companyAdminForm">
    <div>
      <h2>Changing your password will require you to log in again!</h2>
      <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Repeat Password</mat-label>
          <input matInput formControlName="passwordRepeated" type="password" />
        </mat-form-field>
        <button
            type="submit"
            color="primary"
            (click)="updateCompanyAdmin()"
            mat-raised-button
        >
            Done
        </button>
    </div>
  </form>
</div>