<div id="companies">
  <div id="companies-details">
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
            <th>Average grade</th>
            <th>List of available Equipment</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr [class.selected-row]="selectedCompany === company">
            <td>{{ company.name }}</td>
            <td>{{ company.address }}</td>
            <td>{{ company.description }}</td>
            <td>{{ company.averageGrade }}</td>
            <td>{{ company.equipment }}</td>
            <td>
              <button (click)="onDeleteClicked(company)" color="accent" mat-icon-button>Delete</button>
            </td>
            <td>
              <button (click)="onEditClicked(company)" color="primary" mat-icon-button>Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <xp-company-form *ngIf="shouldRenderCompaniesForm" 
                     (facilitesUpdated)="getCompanies()" 
                     [company]="selectedCompany" 
                     [shouldEdit]="shouldEdit">
    </xp-company-form>
  </div>
</div>
