p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the container takes the full height of the viewport */
    margin-top: -150px;
  }
  
  .center-form {
    width: 300px; /* Adjust the width as needed */
  }

  .btn {
    width: 300px;
  }
  
  .userInput {
    width: 300px;
  }

  .company-admin-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -175px;
  }
  
  .company-admin-home > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 20px; 
  }
  
  .company-admin-home h2 {
    margin: 0;
  }
  
  .company-admin-home button {
    margin-left: 10px; 
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
