<p><b>Home component</b></p>

<div class="center-container" *ngIf="shouldUpdatePassword">
  <h2>When logging for the first time, you are required to change your password.<br>After the change you will bew required to log in again</h2>
  <h2></h2>
  <form [formGroup]="passwordForm" class="center-form">  
    <div>
      <mat-form-field class="userInput">
        <mat-label>Enter your new password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="userInput">
        <mat-label>Repeat your new password</mat-label>
        <input matInput formControlName="passwordRepeated" type="password" />
      </mat-form-field>
    </div>

    <div>
      <button type="submit" (click)="changePassword()" mat-raised-button class="btn">Done</button>
    </div>
  </form>
</div>
