p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the container takes the full height of the viewport */
    margin-top: -150px;
  }
  
  .center-form {
    width: 300px; /* Adjust the width as needed */
  }

  .btn {
    width: 300px;
  }
  
  .userInput {
    width: 300px;
  }

  /* DODAJ ALERT */