<!-- COMPANY ADMINISTRATOR CHANGE PASSWORD FORM -->
<div class="center-container" *ngIf="shouldUpdatePassword">
  <h2>When logging for the first time, you are required to change your password.<br>After the change you will be required to log in again</h2>
  <h2></h2>
  <form [formGroup]="passwordForm" 
        class="center-form">  
    <div>
      <mat-form-field class="userInput">
        <mat-label>Enter your new password</mat-label>
        <input matInput 
               formControlName="password" 
               type="password" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="userInput">
        <mat-label>Repeat your new password</mat-label>
        <input matInput 
               formControlName="passwordRepeated" 
               type="password" />
      </mat-form-field>
    </div>

    <div>
      <button type="submit" 
              (click)="changePassword()" 
              mat-raised-button 
              class="btn">
              Done</button>
    </div>
  </form>
</div>

<!-- COMPANY ADMINISTRATOR HOME COMPONENT -->
<h1 *ngIf="!shouldUpdatePassword && 
    user?.role === 'ROLE_COMPANY_ADMINISTRATOR'">
    Welcome {{companyAdmin.name}} {{companyAdmin.surname}}!
</h1>
<div *ngIf=" !shouldUpdatePassword && 
     user?.role === 'ROLE_COMPANY_ADMINISTRATOR'"
     class="company-admin-home">
   <div>
    <h2>Manage profile:</h2>
    <button type="submit" 
            (click)="companyAdminManageProfile()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button>
   </div>
   <div>
    <h2>Manage company:</h2>
    <button type="submit" 
            (click)="companyAdminManageCompanyProfile()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button> 
   </div>
   <div>
    <h2>Manage company's appointments:</h2>
    <button type="submit" 
            (click)="companyAdminManageUserAppointments()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button> 
   </div>
   <div>
    <h2>Check users who made appointments:</h2>
    <button type="submit" 
            (click)="companyAdminManageUserAppointments()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button> 
   </div>
</div>



<!-- REGISTERED USER HOME COMPONENT -->
<h1 *ngIf="!shouldUpdatePassword && 
    user?.role === 'ROLE_REGISTERED_USER'">
    Welcome {{registeredUser.name}} {{registeredUser.surname}}!
</h1>
<div *ngIf=" !shouldUpdatePassword && 
     user?.role === 'ROLE_REGISTERED_USER'"
     class="company-admin-home">
   <div>
    <h2>Manage profile:</h2>
    <button type="submit" 
            (click)="registeredUserManageProfile()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button>
   </div>
   <div>
    <h2>See companies:</h2>
    <button type="submit" 
            (click)="companiesForUsers()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button> 
   </div>
   <div>
    <h2>See your qr codes:</h2>
    <button type="submit" 
            (click)="registeredUserQRCodes()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button> 
   </div>
   <div>
    <h2>Check you done appintement history:</h2>
    <button type="submit" 
            (click)="registeredUserAppointementHistory()" 
            mat-raised-button 
            class="btn"
            color="primary">
            Take me there</button> 
   </div>
</div>